<!DOCTYPE html>
<html lang="en">
<%- include('./parcials/head.ejs') %>

<body>
    <%- include('./parcials/nav.ejs') %>

   <div class="details content">
       <h2><%= blog.title %></h2>
    <div class="content">
        <p><%=blog.body %></p>
    </div>
    <a class="delete" data-doc="<%= blog._id %>">Delete</a>
    <a class="update" data-doc="<%= blog._id %>">Update</b>


       
   </div>

   <script>
       
       
       const trashcan = document.querySelector('a.delete');

       trashcan.addEventListener('click', (e) => {
           const endpoint = `/blogs/${trashcan.dataset.doc}`;
           fetch(endpoint, {
               method: 'Delete'
           })
           .then ((Response) =>Response.json())
           .then((data) => window.location.href = data.redirect)
           .catch(err => console.log(err));
        })

        const update = document.querySelector('a.update');
        update.addEventListener('click', (e) => {
            const endpoint = `/blogs/${update.dataset.doc}`;
            fetch(endpoint, {
                method: 'PUT'
            })
            .then ((Response) =>Response.json())
           .then((data) => window.location.href = data.redirect)
           .catch(err => console.log(err));

        })  

   </script>


</body>
</html>